<hr />
<div
  class="row justify-content-center"
  style="background-color: #ffffff00; font-family: 'Sarabun', sans-serif"
>
  <div class="col-12 m-2">
    <div class="mx-2 d-flex justify-content-between">
      <span class="text-primary"
        >© สงวนสิทธิ์ 2564 ครีเดน เอเชีย จำกัด Ver. 2.0</span
      >
      <a
        style="text-decoration: none"
        type="button"
        href="#"
        class="text-primary mr-2"
        >Privacy</a
      >
    </div>
  </div>
</div>
