<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="col-md-2 d-flex justify-content-start">
    <div class="logo_creden header_logo">
      <a href="/" alt="หน้าแรก">
        <img src="creden_logos.png" width="160" class="img-fluid" />
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="d-flex">
      <div class="col-11">
        <div class="row">
          <div class="col-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <button
                  type="button"
                  data-toggle="dropdown"
                  id="dropdownMenuButton"
                  aria-haspopup="true"
                  aria-expanded="false"
                  class="btn border bg-white dropdown-toggle"
                  style="
                    width: 135px;
                    text-align: left;
                    font-size: 14px;
                    border-top-left-radius: 15px;
                    border-bottom-left-radius: 15px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                  "
                >
                  ขึ้นต้นด้วย
                </button>
                <div
                  aria-labelledby="dropdownMenuButton"
                  class="dropdown-menu"
                  style="font-size: 14px"
                >
                  <a href="javascript:void(0)" class="dropdown-item"
                    >ขึ้นต้นด้วย</a
                  >
                  <a href="javascript:void(0)" class="dropdown-item"
                    >คีย์เวิร์ด</a
                  >
                </div>
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="กรอกชื่อบริษัทหรือหมายเลขทะเบียนนิติบุคคล"
                style="
                  font-size: 14px;
                  border-top-left-radius: 0;
                  border-bottom-left-radius: 0;
                "
              />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn bg-white border"
                  style="
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                  "
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    class="bi bi-search mb-1 text-primary"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <div class="suggestion-display"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 d-flex justify-content-end">
    <div class="d-flex align-items-baseline">
      <a
        class="mr-3 text-primary"
        href="#"
        style="font-size: 14px; color: white"
        >บริการและการขาย</a
      >
      <a
        class="mr-3 text-primary"
        href="#"
        style="font-size: 14px; color: white"
        >แพ็คเกจ</a
      >

      <div class="dropdown">
        <a
          href="#"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-question-circle-fill bi bi-question-circle-fill text-primary mr-3"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247m2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"
            />
          </svg>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">
            <img src="icon_contact.png" class="flag" />
            ข้อมูลติดต่อ
          </a>
        </div>
      </div>

      <div class="dropdown">
        <button
          class="btn btn-outline-primary mr-3 dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="border-radius: 30px"
        >
          <img src="icon_th.png" class="flag" />
          ภาษาไทย
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">
            <img src="icon_en.png" class="flag" />
            English
          </a>
          <a class="dropdown-item" href="#">
            <img src="icon_th.png" class="flag" />
            ภาษาไทย
          </a>
        </div>
        <button type="button" class="btn btn-outline-primary mr-3">
          สมัครสมาชิก
        </button>
        <button type="button" class="btn btn-primary mr-3">เข้าสู่ระบบ</button>
      </div>
    </div>
  </div>
</nav>
<div
  class="row justify-content-center"
  style="
    background-color: #1767b3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  "
>
  <div class="col-12 m-3 px-5">
    <div class="px-5">
      <div class="text-white font-weight-bold">
        <h1>บริษัท เท็คไอทีโซลูชั่น จำกัด</h1>
      </div>
      <div class="d-flex justify-content-between">
        <span class="text-white">TAKE IT SOLUTION CO.,LTD.</span>
        <span class="text-white">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-eye"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"
            />
            <path
              d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"
            />
          </svg>
          1455</span
        >
      </div>
    </div>
  </div>
</div>
<div
  class="row justify-content-center"
  style="background-color: #2c2c2c; font-family: 'Sarabun', sans-serif"
>
  <div class="col-12 m-3 px-5">
    <div class="px-5 d-flex">
      <a href="#" class="text-white">ข้อมูลทั่วไป</a>
      <div class="dropdown">
        <a
          class="ml-4 dropdown-toggle text-white"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          href="#"
        >
          กรรมการและการถือหุ้น
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item m-2" href="#"> กรรมการ </a>
          <a class="dropdown-item m-2" href="#"> การถือหุ้น </a>
        </div>
      </div>
      <div class="dropdown">
        <a
          class="ml-4 dropdown-toggle text-white"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          href="#"
        >
          ข้อมูลการเงิน
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item m-2" href="#"> งบกําไรขาดทุน </a>
          <a class="dropdown-item m-2" href="#"> งบดุล </a>
          <a class="dropdown-item m-2" href="#"> อัตราส่วนทางการเงิน </a>
          <a class="dropdown-item m-2" href="#"> เครดิตทางการค้า </a>
          <a class="dropdown-item m-2" href="#"> สภาพคล่องเงินสด </a>

          <a class="dropdown-item" href="#"> ประวัติการส่งงบและผู้สอบบัญชี </a>
          <a class="dropdown-item" href="#"> การจัดซื้อจัดจ้างภาครัฐ </a>
          <a class="dropdown-item" href="#"> จดภาษีมูลค่าเพิ่ม (สาขา) </a>
        </div>
      </div>
      <a href="#" class="ml-4 text-white">ประวัติการเปลี่ยนแปลง </a>
      <a href="#" class="ml-4 text-white">ข่าว</a>
      <a href="#" class="ml-4 text-white">จัดอันดับ</a>
    </div>
  </div>
</div>
