<div class="row justify-content-center" style="background-color: #b0262600">
  <div class="col-12 m-3 px-5">
    <div class="px-5 mt-3 row">
      <div class="bg-white col-12 p-4">
        <div class="text-primary">
          <h4 class="font-weight-bold">
            แนวโน้มการเติบโตของรายได้รวม กำไร (ขาดทุน) และสินทรัพย์รวม บริษัท
            เท็คไอทีโซลูชั่น จำกัด
          </h4>
        </div>
        <div class="text-primary mt-3">
          <h5>
            บริษัท เท็คไอทีโซลูชั่น จำกัด ประกอบธุรกิจประเภท
            ข้อมูลข่าวสารและการสื่อสาร โดยให้บริการด้าน
            กิจกรรมการจัดการสิ่งอำนวยความสะดวกด้านคอมพิวเตอร์
          </h5>
        </div>
        <div class="text-primary d-flex justify-content-center mt-5">
          <h5>กรุณาเข้าสู่ระบบก่อนใช้งาน หรือสมัครสมาชิก ฟรี</h5>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button class="btn btn-primary">เข้าสู่ระบบ</button>
        </div>
      </div>
    </div>

    <!-- div 2 -->
    <div class="px-3 mt-5 row">
      <div
        class="col-12"
        style="
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
          padding: 0px 30px 0px 30px;
        "
      >
        <div class="p-4 bg-white">
          <h4 class="text-primary">
            ข้อมูลทั่วไปของ บริษัท เท็คไอทีโซลูชั่น จำกัด
          </h4>
          <table class="table table-striped" style="font-size: 14px">
            <thead>
              <tr>
                <th>ชื่อนิติบุคคล</th>
                <td>TAKE IT SOLUTION CO.,LTD.</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>เลขทะเบียนนิติบุคคล</th>
                <td>0105551051021</td>
              </tr>
              <tr>
                <th>วันเดือนปีที่จดทะเบียน</th>
                <td>วันที่ 13 พ.ค. 2551 (16 ปี 1 เดือน 8 วัน)</td>
              </tr>
              <tr>
                <th>สถานภาพกิจการ</th>
                <td>
                  <span> ยังดำเนินกิจการอยู่</span>
                </td>
              </tr>
              <tr>
                <th>ประเภทธุรกิจ</th>
                <td>บริษัทจำกัด</td>
              </tr>
              <tr>
                <th>ปีที่ส่งงบการเงิน</th>
                <td>
                  <a class="text-primary" href="#"
                    >2561 , 2562 , 2563 , 2564 , 2565</a
                  >
                </td>
              </tr>
              <tr>
                <th>รอบปิดบัญชีปีล่าสุด</th>
                <td>
                  <a>
                    31 ธันวาคม (วันที่ส่งงบ 29 พ.ค. 2566)
                    <span>
                      -
                      <span>(ส่งงบก่อน 2 วัน) </span>
                    </span></a
                  >
                </td>
              </tr>
              <tr>
                <th>ผู้สอบบัญชีปีล่าสุด</th>
                <td>
                  <a>xxxxxxx xxxxxxx - (ตรวจ 867 บริษัท)</a>
                </td>
              </tr>
              <tr>
                <th>จัดซื้อจัดจ้างภาครัฐ</th>
                <td>
                  <a>x,xxx โครงการ มูลค่า xx,xxx,xxx บาท</a>
                </td>
              </tr>
              <tr>
                <th>จดทะเบียนภาษีมูลค่าเพิ่ม</th>
                <td>
                  <a> xx สาขา </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="px-3"
          style="
            display: grid;
            grid-template-rows: 0.2fr 0.8fr;
            row-gap: 20px;
            padding: 0px 0px 0px 0px;
          "
        >
          <div class="bg-white p-4">
            <h5 class="text-primary">คะแนนทางการเงิน</h5>
            <h5 class="text-primary mt-3 d-flex justify-content-center">
              กรุณาเข้าสู่ระบบก่อนใช้งาน หรือสมัครสมาชิก ฟรี
            </h5>
            <div class="mt-4 d-flex justify-content-center">
              <button class="btn btn-primary">เข้าสู่ระบบ</button>
            </div>
          </div>
          <!--  -->
          <div class="p-4 bg-white">
            <h5 class="text-primary">
              ข้อมูลธุรกิจของ บริษัท เท็คไอทีโซลูชั่น จำกัด
            </h5>
            <table class="table table-striped" style="font-size: 14px">
              <thead>
                <tr>
                  <th>ทุนจดทะเบียนปัจจุบัน (บาท)</th>
                  <td>5,000,000</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>มูลค่าบริษัท</th>
                  <td>23,824,994 บาท (476.5% ของทุน)</td>
                </tr>
                <tr>
                  <th>ขนาดธุรกิจ</th>
                  <td>Medium</td>
                </tr>
                <tr>
                  <th>หมวดธุรกิจ (A-U)</th>
                  <td>
                    <span>
                      <a href="#" class="text-primary"
                        >J : ข้อมูลข่าวสารและการสื่อสาร</a
                      >
                    </span>
                  </td>
                </tr>
                <tr>
                  <th>กลุ่มธุรกิจ (TSIC)</th>
                  <td>
                    <a href="#"
                      >62023 :
                      กิจกรรมการจัดการสิ่งอำนวยความสะดวกด้านคอมพิวเตอร์</a
                    >
                    <br /><br />

                    <a href="#">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-bar-chart"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"
                        />
                      </svg>
                      อันดับธุรกิจในกลุ่มนี้</a
                    >
                  </td>
                </tr>
                <tr>
                  <th>วัตถุประสงค์</th>
                  <td>
                    <a class="text-primary" href="#"
                      >ให้บริการปรึกษา ติดตั้ง ฝึกอบรมระบบคอมพิวเตอร์</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- div 3 -->

    <div class="px-3 mt-5 row">
      <div
        class="col-12"
        style="
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
          padding: 0px 30px 0px 30px;
        "
      >
        <div
          class="px-3"
          style="
            display: grid;
            grid-template-rows: 0.4fr 0.5fr;
            row-gap: 20px;
            padding: 0px 0px 0px 0px;
          "
        >
          <div class="p-4 bg-white">
            <h5 class="text-primary">
              เครดิตทางการค้า บริษัท เท็คไอทีโซลูชั่น จำกัด
            </h5>
            <div class="row pt-3">
              <div class="col-12 col-md-6 col-lg-6 col_credit_term">
                <div class="card credit_term text-center">
                  <div class="card-header" style="background-color: #26a0fc">
                    เครดิตเทอมที่เหมาะสม (วัน)
                  </div>
                  <div class="card-body">
                    <p class="card-text">
                      <a
                        href="/company/credit_term/0105551051021"
                        alt="ข้อมูลเครดิตทางการค้าของบริษัท เท็คไอทีโซลูชั่น จำกัด"
                        class="text-dark"
                        >XX</a
                      >
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6 col_credit_limit">
                <div class="card credit_term text-center">
                  <div class="card-header">วงเงินเครดิตที่เหมาะสม (บาท)</div>
                  <div class="card-body">
                    <p class="card-text">
                      <a
                        href="/company/credit_term/0105551051021"
                        alt="ข้อมูลเครดิตทางการค้าของบริษัท เท็คไอทีโซลูชั่น จำกัด"
                        class="text-dark"
                        >XXXX</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button
                type="button"
                style="font-size: 14px"
                class="btn btn-outline-primary"
              >
                คลิกเพื่อดูเพิ่มเติม
              </button>
            </div>
          </div>
          <div class="p-4 bg-white">
            <h5 class="text-primary">วงจรเงินสดทางการเงิน (TBS CCC Index)</h5>
            <h5 class="text-center text-primary mt-4">
              กรุณาเข้าสู่ระบบก่อนใช้งาน หรือสมัครสมาชิก ฟรี
            </h5>
            <div class="d-flex justify-content-center mt-4">
              <button class="btn btn-primary" style="font-size: 14px">
                เข้าสู่ระบบ
              </button>
            </div>
          </div>
        </div>

        <div
          class="px-3"
          style="
            display: grid;
            grid-template-rows: 0.2fr 0.8fr;
            row-gap: 20px;
            padding: 0px 0px 0px 0px;
          "
        >
          <div class="bg-white p-4">
            <div class="d-flex justify-content-between mb-2">
              <h5 class="text-primary">
                อันดับธุรกิจ บริษัท เท็คไอทีโซลูชั่น จำกัด
              </h5>
              <div class="dropdown">
                <button
                  class="btn btn-primary dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  style="font-size: 14px"
                >
                  ปี 2565
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#"> ปี 2565 </a>
                  <a class="dropdown-item" href="#"> ปี 2564 </a>
                  <a class="dropdown-item" href="#"> ปี 2563 </a>
                  <a class="dropdown-item" href="#"> ปี 2562 </a>
                  <a class="dropdown-item" href="#"> ปี 2561 </a>
                </div>
              </div>
            </div>
            <table class="table table-striped" style="font-size: 14px">
              <thead class="text-white bg-primary">
                <tr>
                  <th class="text-center">ประเภท</th>
                  <th>รายได้รวม</th>
                  <th>กำไร (ขาดทุน)</th>
                  <th>ภาษีเงินได้</th>
                  <th>สินทรัพย์รวม</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th class="text-center bg-secondary">ประเทศไทย</th>
                  <td>
                    <span style="position: relative; display: inline-block">
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 8,971 อันดับ</span> -->
                    </span>
                    48,910
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 31,165 อันดับ</span> -->
                    </span>
                    57,192
                  </td>
                  <td>
                    <span
                      ><svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 15,714 อันดับ</span> -->
                    </span>
                    38,642
                  </td>
                  <td>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-up text-success"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
                        />
                      </svg>
                      <!-- <span>เพิ่มขึ้น 19,623 อันดับ</span> -->
                    </span>
                    67,649
                  </td>
                </tr>
                <tr>
                  <th class="text-center bg-secondary">
                    กรุงเทพมหานครและปริมณฑล
                  </th>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 182 อันดับ</span> -->
                    </span>
                    720
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 1,013 อันดับ</span> -->
                    </span>
                    1,682
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 470 อันดับ</span> -->
                    </span>
                    1,001
                  </td>
                  <td>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-up text-success"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
                        />
                      </svg>
                      <!-- <span>เพิ่มขึ้น 339 อันดับ</span> -->
                    </span>
                    1,042
                  </td>
                </tr>
                <tr>
                  <th class="text-center bg-secondary">กรุงเทพมหานคร</th>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 3,736 อันดับ</span> -->
                    </span>
                    19,789
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 13,507 อันดับ</span> -->
                    </span>
                    26,649
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 6,952 อันดับ</span> -->
                    </span>
                    18,477
                  </td>
                  <td>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-up text-success"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
                        />
                      </svg>

                      <!-- <span>เพิ่มขึ้น 7,943 อันดับ</span> -->
                    </span>
                    32,408
                  </td>
                </tr>
                <tr>
                  <th class="text-center bg-secondary">
                    หมวดธุรกิจ : J
                    <!-- <span><p>J : ข้อมูลข่าวสารและการสื่อสาร</p></span> -->
                  </th>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 5,718 อันดับ</span> -->
                    </span>
                    30,336
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 20,285 อันดับ</span> -->
                    </span>
                    38,946
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>
                      <!-- <span>ลดลง 10,448 อันดับ</span> -->
                    </span>
                    27,063
                  </td>
                  <td>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-up text-success"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
                        />
                      </svg>

                      <!-- <span>เพิ่มขึ้น 11,832 อันดับ</span> -->
                    </span>
                    45,985
                  </td>
                </tr>
                <tr>
                  <th class="text-center bg-secondary">
                    TSIC : 62023
                    <!-- <span class="help-tip"><p>62023 :กิจกรรมการจัดการสิ่งอำนวยความสะดวกด้านคอมพิวเตอร์</p></span> -->
                  </th>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>

                      <!-- <span>ลดลง 11 อันดับ</span> -->
                    </span>
                    42
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>

                      <!-- <span>ลดลง 53 อันดับ</span> -->
                    </span>
                    89
                  </td>
                  <td>
                    <span>
                      <svg
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-down text-danger"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"
                        />
                      </svg>

                      <!-- <span>ลดลง 19 อันดับ</span> -->
                    </span>
                    57
                  </td>
                  <td>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-arrow-up text-success"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"
                        />
                      </svg>

                      <!-- <span>เพิ่มขึ้น 22 อันดับ</span> -->
                    </span>
                    53
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="d-flex justify-content-end">
              <button class="btn btn-outline-primary" style="font-size: 14px">
                คลิกเพื่อดูการจัดอันดับทั้งหมด
              </button>
            </div>
          </div>
          <!--  -->
          <div class="bg-white p-4">
            <h5 class="text-primary">บริษัทในกลุ่มธุรกิจเดียวกัน</h5>
            <table class="table table-striped" style="font-size: 14px">
              <tbody>
                <tr>
                  <td style="padding: 0.55rem">
                    <a href="#">แอ็ดวานซ์ เทค โซลูชั่นส์ จำกัด</a>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0.55rem">
                    <a href="#">เอสวีเจ เทคนิคอล ซิสเต็ม จำกัด</a>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0.55rem">
                    <a href="#">ไซเบอร์ อีลีท จำกัด</a>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0.55rem">
                    <a href="#">วัน อิเล็กทรอนิกส์ บิลลิ่ง จำกัด (มหาชน)</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- div 4 -->

    <div class="px-3 row">
      <div
        class="col-12"
        style="
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
          padding: 0px 30px 0px 30px;
        "
      >
        <div class="p-4 bg-white">
          <h5 class="text-primary">
            กรรมการและผู้มีอำนาจลงนาม TAKE IT SOLUTION CO.,LTD.
          </h5>
          <h5 class="text-primary text-center mt-4">
            กรุณาเข้าสู่ระบบก่อนใช้งาน หรือสมัครสมาชิก ฟรี
          </h5>
          <div class="d-flex justify-content-center mt-4">
            <button
              class="btn btn-primary"
              type="button"
              style="font-size: 14px"
            >
              เข้าสู่ระบบ
            </button>
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
        <div class="p-4 bg-white">
          <h5 class="text-primary">
            สัดส่วนผู้ถือหุ้น TAKE IT SOLUTION CO.,LTD.
          </h5>
          <h5 class="text-primary text-center mt-4">
            กรุณาเข้าสู่ระบบก่อนใช้งาน หรือสมัครสมาชิก ฟรี
          </h5>
          <div class="d-flex justify-content-center mt-4">
            <button
              class="btn btn-primary"
              type="button"
              style="font-size: 14px"
            >
              เข้าสู่ระบบ
            </button>
          </div>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
        </div>
      </div>
    </div>

    <!-- div 5 -->

    <div class="px-3 mt-5 row">
      <div
        class="col-12"
        style="
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 20px;
          padding: 0px 30px 0px 30px;
        "
      >
        <div class="p-4 bg-white">
          <h5 class="text-primary">ประวัติการเปลี่ยนแปลง</h5>
          <h5 class="text-primary text-center mt-4">
            กรุณาเข้าสู่ระบบก่อนใช้งาน หรือสมัครสมาชิก ฟรี
          </h5>
          <div class="d-flex justify-content-center mt-4">
            <button
              class="btn btn-primary"
              type="button"
              style="font-size: 14px"
            >
              เข้าสู่ระบบ
            </button>
          </div>
        </div>
        <div class="p-4 bg-white">
          <h5 class="text-primary">
            ที่อยู่ บริษัท เท็คไอทีโซลูชั่น จำกัด (ที่อยู่ร่วมกันจำนวน 2 บริษัท)
          </h5>
          <span class="mt-4" style="font-size: 14px">
            135/2 อาคารอมรพันธุ์ 205 ทาวเวอร์ 2 ชั้นที่ 1 ซอยนาทอง ถนนรัชดาภิเษก
            แขวงดินแดง เขตดินแดง กรุงเทพมหานคร
          </span>
          <div class="d-flex justify-content-center mt-4">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2394.605948751267!2d100.57124380076826!3d13.772981055775368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29e87369c10e5%3A0xef944e753af201a4!2z4Lit4Liy4LiE4Liy4Lij4Lit4Lih4Lij4Lie4Lix4LiZ4LiY4Li44LmMIDIwNSDguJfguLLguKfguYDguKfguK3guKPguYwgMg!5e0!3m2!1sth!2sth!4v1718610612259!5m2!1sth!2sth"
              width="800"
              height="300"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="px-3 row">
      <div
        class="col-10 ml-4"
        style="font-size: 12px; font-family: 'Sarabun', sans-serif"
      >
        <div>
          <span>*หมายเหตุ</span>
        </div>
        <div class="mt-1">
          <span> - ข้อมูลอัพเดทเมื่อ 17 มิถุนายน 2567 </span>
          <button
            type="button"
            class="btn btn-primary ml-3"
            style="font-size: 10px; font-family: 'Sarabun', sans-serif"
          >
            คลิกเพื่ออัพเดท
          </button>
        </div>
        <div class="mt-1">
          <span
            >- แหล่งที่มาข้อมูลจากศูนย์กลางข้อมูลภาครัฐ data.go.th
            และแหล่งข้อมูลอื่นๆ</span
          >
        </div>
        <div class="mt-1">
          <span
            >- ข้อมูลนี้มีไว้สำหรับใช้วิเคราะห์เชิงธุรกิจเท่านั้น
            ไม่สามารถนำไปอ้างอิงเป็นหลักฐานทางกฏหมายได้</span
          >
        </div>
      </div>
    </div>

    <!-- last -->
  </div>
</div>
